---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

         <!-- Latest posts -->
<!--           {% if page.latest_posts -%} -->
<!--             <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest posts</a></h2> -->
<!--             {%- include latest_posts.html %} -->
<!--           {%- endif %}  -->

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

         <!-- Added for map my visitor -->
<!--          <script type="text/javascript" id="mmvst_globe" src="//mapmyvisitors.com/globe.js?w=240&t=n&d=zI4mfQyM7sAxKArI42L7X2kPavR_qMqXQN1S57nAxss"></script> -->
<!--          <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=W-inLzcNvXXfsphhj524hW2XC5OgDnZEJePvNcIpOmA&cl=ffffff&w=a"></script> -->
<!--       <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?w=240&t=n&d=dXHoh79L_7yNsr8sVr3YRC323FqU_spax6MZA5_Umd4"></script> -->

            <div class="wrapper">
              <div style="text-align: center; margin-top: auto; margin-bottom: auto;">
                <div style="display: inline-block; width: 200px; height: 100px;">
                  <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?w=240&t=n&d=dXHoh79L_7yNsr8sVr3YRC323FqU_spax6MZA5_Umd4"></script> 
              </div>
            </div>


          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
