/* Base styles */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #111;
    background-color: #f9f9f9;
}

.wrapper {
    max-width: calc(1024px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: calc(1024px - 30px);
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Header styles */
.site-header {
    border-top: 3px solid #9b3022;
    border-bottom: 1px solid #9b3022;
    min-height: 56px;
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;
}

/* Content styles */
.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: 30px;
}

/* Footer styles */
.site-footer {
    border-top: 1px solid #9b3022;
    padding: 30px 0;
}

/* Map My Visitor styles */
.scrollable-box {
    height: auto;
    width: 100%;
    overflow: visible;
    padding: 10px;
}

.scrollable-box::-webkit-scrollbar {
    display: none;
}

.scrollable-box {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollable-box > * {
    max-height: 150px;
    overflow: hidden;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    .post-title {
        font-size: 36px;
    }
    
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #f9f9f9;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right;
    }
}
